body {
  margin: 0;
 

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.home{
  background-color: azure;
}
.about{
  background-color: azure;
}

.form{
  background-color: azure;
}
.upper{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:azure;
  
  }

.title{
  color: white;
  font-family: verdana;
  font-size: 360%; 
}
.ingredients{
  color: white;
  font-family: courier;
  font-size: 160%;
}
.steps{
  color: white;
  font-size: 100%;

}
img {
  width: 100%;
  height: 650px;
  opacity: 0.4;
}
.contacts{
  background-color: azure;
}

